<% layout('/layouts/boilerplate') -%>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3 class="mt-3">Edit Listing</h3>
      <form
        method="POST"
        action="/listings/<%= listing._id %>?_method=PUT"
        enctype="multipart/form-data"
      >
        <!-- 1 -->

        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            value="<%= listing.title %>"
            class="form-control"
            placeholder="Enter name here"
            required
          />
        </div>

        <!-- 2 -->

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="listing[description]"
            id="textarea"
            class="form-control"
            placeholder="Enter description here"
            required
          >
<%= listing.description %>
  </textarea
          >
        </div>

        <!-- 3 -->

        <!-- original image preview -->

        <div class="mb-3">
          <p>Your Image</p> <br>
          <img src="<%= originalImageUrl %>" alt="original Image" />
        </div>

        <div class="mb-3">
          <label for="image" class="form-label">Upload New Image</label>
          <input type="file" name="listing[image]" class="form-control" />
        </div>

        <!-- 4 -->

        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input
            type="number"
            name="listing[price]"
            class="form-control"
            placeholder="Ex: 1,400"
            value="<%= listing.price %>"
            required
          />
        </div>

        <!-- 5 -->

        <div class="mb-3">
          <label for="country" class="form-label">Contact</label>
          <input
            type="text"
            name="listing[country]"
            class="form-control"
            placeholder="Ex:India"
            value="<%= listing.country %>"
            required
          />
        </div>

        <!-- 6 -->
        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            class="form-control"
            placeholder="Ex: Chhattisgarh(CG)"
            value="<%= listing.location %>"
            required
          />
        </div>

        <button class="button-84" role="button">Add</button>
      </form>
    </div>
  </div>
</body>
