
<% layout('/layouts/boilerplate') -%>
<body>
    <div class="form-container">
      <h3>Edit Listing</h3>
      <form method="POST" action="/listings/<%=listing._id%>?_method=PUT">
        <input
          type="text"
          name="listing[title]"
          value="<%= listing.title %>"
        />
        <br />
        <textarea
          name="listing[description]"
          id="textarea"
        ><%= listing.description %></textarea>
        <br />
        <input
          type="text"
          name="listing[image]"
          value="<%= listing.image %>"
        />
        <br />
        <input
          type="number"
          name="listing[price]"
          value="<%= listing.price %>"
        />
        <br />
        <input
          type="text"
          name="listing[country]"
          value="<%= listing.country %>"
        />
        <br />
        <input
          type="text"
          name="listing[location]"
          value="<%= listing.location %>"
        />
        <br />
        <button>Edit</button>
      </form>
    </div>

    
  </body>

