<% layout('/layouts/boilerplate') -%>
<body>
  <div class="container py-5">
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
      <% for(let listing of allListings){ %>
        <a  class="cardListingTag" href="/listings/<%=listing._id %>">

          <div class="col">
            <div class="card h-100 shadow-sm border-0">
              <div class="position-relative">
                <img
                  src="<%=listing.image.url%>"
                  class="card-img-top rounded-top"
                  alt="listing_img"
                  style="height: 200px; object-fit: cover"
                />
                <div class="card-img-overlay overlayImg"></div>
              
              </div>
              <div class="card-body">
                <h5 class="card-title"><%= listing.title %></h5>
                <p class="card-text">
                    
              <div class="containt_description"><%= listing.description %></div>
                  <span class="badge bg-primary"
                    ><%= listing.price ? "₹" + listing.price.toLocaleString("en-IN")
                    : "N/A" %> per guest</span>
                </p>
              </div>
            </div>
          </div>

        </a>
    
      <%}%>
    </div>
  </div>
</body>
