<% layout('/layouts/boilerplate') -%>
<script>
  const mapToken = "<%= process.env.MAP_KEY %>";
</script>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3 class="mt-3"><%= listing.title %></h3>

      <div class="cardImg">
        <img
          class="card-img-top show-img"
          src="<%= listing.image.url  %>"
          alt="Card image"
        />
        <div class="card-body">
          <p class="card-text"></p>
        </div>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <span class="txt">Owned By:</span> <%= listing.owner.username %>
        </li>

        <li class="list-group-item">
          <span class="txt">Description:</span> <%= listing.description %>
        </li>
        <li class="list-group-item">
          <span class="txt">Price:</span>
          &#8377;<%= listing.price ? listing.price.toLocaleString("en-IN") :
          "N/A" %>
        </li>
        <li class="list-group-item">
          <span class="txt">Location:</span> <%= listing.location %>
        </li>
        <li class="list-group-item">
          <span class="txt">Country:</span> <%= listing.country %>
        </li>
      </ul>

      <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
      <button class="button-86 editBtn">
        <a href="/listings/<%= listing._id %>/edit" class="editTag">Edit</a>
      </button>
      <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
        <button class="button-85">Delete</button>
      </form>
      <% } %> <% if(currUser) { %>
      <div>
        <br /><br />
        <hr />
        <h4 class="col-8">Leave a Review</h4>
        <br />
        <form
          action="/listings/<%= listing._id %>/reviews"
          method="POST"
          class="mt-4 needs-validation"
          novalidate
        >
          <fieldset class="starability-coinFlip">
            <legend>Rating:</legend>
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="review[rating]"
              value="0"
              checked
              aria-label="No rating."
            />
            <input
              type="radio"
              id="rate1"
              name="review[rating]"
              value="1"
              required
            />
            <label for="rate1" title="Terrible">1 star</label>
            <input type="radio" id="rate2" name="review[rating]" value="2" />
            <label for="rate2" title="Not good">2 stars</label>
            <input type="radio" id="rate3" name="review[rating]" value="3" />
            <label for="rate3" title="Average">3 stars</label>
            <input type="radio" id="rate4" name="review[rating]" value="4" />
            <label for="rate4" title="Very good">4 stars</label>
            <input type="radio" id="rate5" name="review[rating]" value="5" />
            <label for="rate5" title="Amazing">5 stars</label>
          </fieldset>

          <div>
            <label for="comment" class="form-label">Comments</label>
            <textarea
              name="review[comment]"
              id="comment"
              rows="5"
              cols="30"
              placeholder="Add Your Comments"
              class="form-control"
              required
            ></textarea>
            <div class="invalid-feedback">
              Please add comments for reviews!!
            </div>
            <div class="valid-feedback">Looks Good!</div>
          </div>
          <br />
          <button class="btn btn-dark">Submit</button>
        </form>
      </div>
      <% } %>

      <hr />
      <% if(listing.reviews.length>0){ %>
      <div class="row">
        <p><b>All Reviews</b></p>
        <% for(let review of listing.reviews) { %>
        <div class="card col-5 ms-3 mb-3 ReviewcardBody" style="width: 18rem">
          <div class="card-body">
            <p class="card-title"><b>@</b> <%= review.author.username %></p>
            <hr />
            <p class="card-text reviewDate">
              <%= new Date(review.createdAt).toLocaleString('en-IN', { day:
              'numeric', month: 'long', year: 'numeric', hour: '2-digit',
              minute: '2-digit' }) %>
            </p>

            <p
              class="starability-result"
              data-rating="<%= review.rating %>"
            ></p>
            <p class="card-text reviewComment"><%= review.comment %></p>
          </div>
          <form
            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
            method="POST"
            class="mb-3"
          >
            <% if(currUser && listing.owner._id.equals(currUser._id)) { %>
            <button class="btn btn-sm btn-dark">Delete</button>
            <% } %>
          </form>
        </div>
        <% } %>
      </div>
      <% } %>

      <!-- map including -->
      <div class="col-5 offset-3 mb-3"></div>
      <hr />
      <!-- <h3>Where you'll be</h3> -->
       <p class="map">map functionality will be coming soon</p>
      <div id="map" style="width: 100%; height: 400px"></div>
    </div>
  </div>

  <!--  MAP JS FILE -->
  <script src="/public/js/map.js"></script>
</body>
